.break-time{
    background: rgb(240, 235, 227);
    padding: 15px 0;
    border-radius: 20px;
}
.break-time button{
    margin-left: 10px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.time-bg{
    background: rgb(240, 235, 227);
    padding: 15px;
    border-radius: 20px;
}
.time-bg span{
    color: gray;
    padding-left: 30px;
}
.complete-btn{
    width: 80%;
    margin: 0 30px;
    border-radius: 20px;
    border: none;
    background: rgb(11, 128, 186);
    color: white;
    cursor: pointer;
}
.buttonTrue{
    background-color: aqua;
}