.navbar{
    margin-top: 20px;
    padding: 0 50px;
    
}
.navbar-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar img{
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 15%;
}
