.gym-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.exercise-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 0 50px;
}
.activity-container{
    height: 100vh;
    position: sticky;
    top: 5%;
    border: 2px solid salmon;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
}
@media screen and (max-width: 992px) {
    .exercise-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 576px) {
    .gym-container{
        grid-template-columns: none;
        display: flex;
        flex-direction: column-reverse;   
    }
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .activity-container{
        position: static;
        height: auto;
    }
}